@import './fonts.css';
@import 'tailwindcss';
@config '../tailwind.config.js';

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #171717;
  --color-accent: var(--color-blue-600);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}
